

%div.row.offset
  %div.span12
    %div.row
      %div.span10.offset1
        %h1 Special Occasions
        = link_to 'Add another event', new_event_path, :class => "btn"

    - @events.each do |event|
      - if event.name == "Mother's Day"
        - pic_url = "flowers.jpg" 
      - else
        - pic_url = "heart.jpg" 
      %div.row.event_table
        %div.span1.offset1.date= event.date.strftime('%b %e')
        %div.span1 
          =image_tag pic_url, :class => "pic", :width => "100"
        %div.span3.event_name= event.name
        %div.span1.event_options= link_to 'Options', edit_event_path(event)
        %div.span1.event_remove= link_to 'Remove', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
        .clear

%br


